{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" class="display-flex flex-column">
  <input name="username" id="username" placeholder="Username" required autofocus>
  <input type="password" name="password" id="password" placeholder="Password" required>
  <input type="password" name="confirmation" id="confirmation" placeholder="Confirm password" required>
  <button class="btn" type="submit">Register</button>
</form>
{% endblock %}