{% extends 'base.html' %}

{% block title %}Add Food Intake{% endblock %}

{% block header %}
<h2>Add food intake:</h2>
{% endblock %}

{% block content %}
<input type="text" name="query" id="query" placeholder='Search for food item' required autofocus>
<div id="food-items-container" class="display-flex flex-column" style="padding: 1rem">

</div>
<script>
    const UPDATE_RATE = 500 // ms
    let search_input = document.getElementById("query")
    let food_items_container = document.getElementById("food-items-container")
    let last_query = ""
    let timer = null

    search_input.addEventListener("keyup", function (event) {
        if (search_input.value != last_query) {
            clearTimeout(timer)
            timer = setTimeout(async function () {
                if (search_input.value == last_query) return
                await search(search_input.value)
                last_query = search_input.value
            }, UPDATE_RATE)
        }
    })

    async function search(query) {
        if (query == "") return
        let food_items = await find_food_item(query)
        display_food_items(food_items)
    }

    async function find_food_item(query) {
        let response = await fetch(`/find_food_item?q=${query}`)
        let food_items = await response
        return food_items.json()
    }

    function add_food_item(food_item_id, portion_weight, portions) {
        console.log(food_item_id, portion_weight, portions)
    }

    function display_food_items(food_items) {
        food_items_container.innerHTML = ""
        for (let food_item of food_items) {
            food_items_container.innerHTML += `
                <div class="food-card">
                    <div class="food-card-image">
                        <img src="${food_item.image_url}">
                        <h3>${food_item.name}</h3>
                    </div>
                    <div class="food-card-content">
                        <table class="tbl">
                            <tr>
                                <td>Calories:</td>
                                <td>${ food_item.kcal } kcal</td>
                                <td rowspan="4">per 100g</td>
                            </tr>
                            <tr>
                                <td>Carbs:</td>
                                <td>${ food_item.carbohydrates } g</td>
                            </tr>
                            <tr>
                                <td>Fat:</td>
                                <td>${ food_item.fat } g</td>
                            </tr>
                            <tr>
                                <td>Protein:</td>
                                <td>${ food_item.protein } g</td>
                            </tr>
                        </table>
                        <form method="post">
                            <table>
                                <tr>
                                    <td>Portion weight: </td>
                                    <td><input type="number" name="portion_weight" placeholder="150" required min="1" style="width: 5rem"></td>
                                    <td>g</td>
                                </tr>
                                <tr>
                                    <td>Portions: </td>
                                    <td><input type="number" name="portions" placeholder="2" required min="1" style="width: 5rem"></td>
                                    <td></td>
                                </tr>
                            </table>
                            <input type="hidden" name="food_item_id" value="${food_item.id}">
                            <button class="btn" type="submit">Add</button>
                        </form>
                    </div>
                </div>
            `
        }
    }
</script>
{% endblock %}